div {
  height: 48vh;
  background-image: url("https://static.planetminecraft.com/files/resource_media/screenshot/1416/hoenn_map.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: left;
}

p-button, span {
  margin: 1em;
  color: white;
}
